body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #75B5DF;
}
*, *::before, *::after{
    box-sizing: border-box;
}
div.login-div{
    background-color: #16bcda;
    margin: 50px auto;
    width: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.login-form{
    background-color: #159dd3;
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    grid-gap: 25px;
    padding: 20px;
    padding-bottom: 50px;
    font-weight: bold;
}
form.login-form a{
    text-align: center;
    color: #eee;
    text-decoration: none;
}
