/*login box*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #75B5DF
}
*, *::before, *::after{
    box-sizing: border-box;
}
div.login-div{
    background-color: #16bcda;
    margin: 50px auto;
    width: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: none; */
}
form.login-form{
    background-color: #159dd3;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    grid-gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
    font-weight: bold;
}
form.login-form a{
    text-align: center;
    color: #eee;
    text-decoration: none;
}


/*every button*/
button:hover{
    cursor: pointer;
}

/*content starts here*/
div.content{
    display: none;
    /* background-color: #4B9CD0; */
}
div.content h1{
    margin: 0;
}
div.content header{
    background-color: #2a86c4;
    display: flex;
    padding: 30px 200px;
}
div.content header button{
    margin-left: auto;
    border: none;
    background-color: #065487;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

/*menu*/
main.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    width: 60%;
    height: 90px;
    margin: 100px auto;
    /* display: none; */
}
main.menu button{
    border: none;
    font-size: 3vmin;
    color: #fff;
    font-weight: bold;
}
main.menu button:nth-child(1){background: #FFA12A}
main.menu button:nth-child(2){background: #FFC72A}
main.menu button:nth-child(3){background: #22CD7B}



/*back to menu - this is displayed every time the user enters in any option of the menu*/
button.backtomenu{
    display: none;
    margin: 20px 60px;
    border: solid 2px #159dd3;
    padding: 5px;
    background-color: #16bcda;
    color: #fff;
}   



/*stock visualization*/
main.stock {
    position: relative;
    display: none;
    background-color: #4B9CD0;
}
main.stock table{
    border-collapse: collapse;
    width: 100%;
}
main.stock tr{
    height: 70px;
}
main.stock tr:nth-child(1){background-color:#065487}
main.stock tr:nth-child(even){background-color: #0A75BA}
main.stock tr:nth-child(odd -1){background-color: #4B9CD0}

main.stock td:nth-child(10){
    font-weight: bold;
}

main.stock th:nth-child(14), main.stock th:nth-child(15){
    color: transparent;
    width: 30px;
}

main.stock td img{
    width: 15px;
}
main.stock td img:hover{
    cursor: pointer;
}


main.stock td{
    text-align: center;
}


/*register*/
main.register{
    margin-top: 50px;
    display: none;
}
main.register form{
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}
main.register span{
    display: flex;
    margin: 8px;
    /* font-weight: bold; */
}
main.register input, main.register select{
    margin-left: auto;
    width: 45%;
}
main.register button{
    margin: 30px 0;
    padding: 10px;
    border: 2px solid #5A60D7;
    color: #fff;
    font-size: 1.6rem;
    background-color: #8186E4;
}



/*edit and remove*/
/*EDIT*/
div.edit{
    margin-top: 50px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}
div.edit form{
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #2a86c4;
    padding: 20px;
}
div.edit span{
    display: flex;
    margin: 8px;
    /* font-weight: bold; */
}
div.edit input, div.edit select{
    margin-left: auto;
    width: 45%;
}
div.edit button{
    margin: 30px 0;
    padding: 10px;
    border: 2px solid #278ee2;
    color: #fff;
    font-size: 1.6rem;
    background-color: #1fd0d6;
}
div.edit a{
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
div.edit:hover{
    cursor: pointer;
}

/*REMOVE*/
div.remove{
    border: 4px solid #0A75BA;
    width: 20%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    display: grid;
    padding: 15px;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    display: none;
}
div.remove ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
div.remove li{
    padding: 7px;
}
div.remove li:hover{
    cursor: pointer;
}
div.remove li:nth-child(1){background-color: #0A75BA}
div.remove li:nth-child(2){background-color: #0A75BA}